body {
	background-color: #99ff99;
}
h1 {
	width: 38%;
	color: #ff9999;
	background-color: #99ffff;
	font-family: monospace;
}
a {
	cursor: pointer;
	background-color: #0000ff;
	color: #ffff00;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 4px;
}
#passwd {
	width: 15vmax;
	height: 9vmin;
	cursor: help;
	border: 5px solid black;
	font-size: 2rem;
}
button {
	font-family: monospace;
	font-size: 2em;
	border: 2px outset #808080;
}
span {
	color: red;
}